# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/

# Streamlit
.streamlit/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/

# Data (optional – keep JSON if you want)
data_raw/*.zip
data_raw/*.csv

# Logs
*.log
